<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="CC: %d{yyyy-MM-dd HH:mm:ss,SSS} %m%n" />
		</Console>
		<RollingFile name="debug" fileName="./debug.log"
			filePattern="./debug.log.%i">
			<PatternLayout
				pattern="%-5p %d{yyyy-MM-dd HH:mm:ss,SSS} %C{1} %t - CC: %m%n" />
			<SizeBasedTriggeringPolicy size="10MB" />
			<DefaultRolloverStrategy max="30"/>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger
			name="com.softwareag.platform.management.deployment.abe" level="info">			
		</Logger>
		<Root level="info">
			<AppenderRef ref="console" />			
		</Root>
	</Loggers>
</Configuration>